html {
  font-family: TT Lakes, sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 375px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

a,
button {
  outline: none;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0;

}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #1B1C21;
}

@media (width >= 768px) {
.container {
min-width: 768px;
padding: 0 24px;
}
}

@media (width >= 1120px) {
.container {
min-width: 1120px;
padding: 0 32px;
}
}