.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16.73px;
  padding-top: 18.59px;
  padding-bottom: 18.59px;
  border-bottom: 1px solid #D9FFF5;
}

.header__icon--second,
.header__icon--fought,
.header__icon--fifth,
.header__icon--sixth {
display: none;
}

@media (width >= 768px) {
.header {
  gap: 18px;
}

  .header__icon--second,


.header__icon--fought,
.header__icon--fifth,
.header__icon--sixth {
  display: block;
}

.header__icon--fought {
  margin-left: 250px ;
}

.header__icon--fifth,
.header__icon--sixth,
.header__icon--seventh,
.header__icon--eight,
.header__icon--nineth{
  margin-left: auto;
}
}

@media (width >= 1120px) {
.header {
  display: none;
}


}
